
h1 {
    margin-bottom: 8%;
    text-align: center;
    font-family: "Fredoka One", cursive;
    color: #01a2a8;
    letter-spacing: 0.1em;
  }
  
  p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
  }
  
  p span {
    background:#fff;
    padding:0 10px;
  }
  
  input {
    margin-bottom: 3%;
  }
  
  input:last-of-type {
    margin-bottom: 0;
  }
  
  input, button {
    padding: 3%;
    width: 100%;
  }
  
  .login-container {
    background-color: white;
    padding: 7%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40vw;
    margin: auto;
    height: 70vh;
    margin-top: 15vh;
  }
  
  #submit, #create-acct-btn {
    background-color: #AB1449;
    color: white;
    border: none;
    margin-top: 5%;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  #sign-up {
    border: none;
  }
  
  #create-acct {
    display: none;
  }
  
  #return-btn {
    background: none;
    color: grey;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
  }